jm_dtd.xml

<!ELEMENT testResults (sample)*>
<!ATTLIST testResults
	version	CDATA	#FIXED "1.2"
>

<!ELEMENT sample (httpSample)*>
<!ATTLIST sample
	t	CDATA	#REQUIRED
	lt	CDATA	#REQUIRED
	ts	CDATA	#REQUIRED
	s	CDATA	#REQUIRED
	lb	CDATA	#REQUIRED
	by	CDATA	#REQUIRED
	ng	CDATA	#REQUIRED
	na	CDATA	#REQUIRED
>

<!ELEMENT httpSample EMPTY>
<!ATTLIST httpSample
	t	CDATA	#REQUIRED
	lt	CDATA	#REQUIRED
	ts	CDATA	#REQUIRED
	s	CDATA	#REQUIRED
	lb	CDATA	#REQUIRED
	by	CDATA	#REQUIRED
	ng	CDATA	#REQUIRED
	na	CDATA	#REQUIRED
>
